.hidden {
    display: none;
}

#custom-alert {
    position: sticky;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.alert {
    position: sticky;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 8px;
    z-index: 1000;
    transition: opacity 0.5s, top 0.5s;
    font-size: 16px;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}

.alert.success {
    background-color: #0EB1D2;
    color: white;
    border-left: 5px solid #30c6da;
}

.alert.error {
    background-color: #bb281e;
    color: white;
    border-left: 5px solid #991515;
}

.alert.info {
    background-color: #2196F3;
    color: white;
    border-left: 5px solid #1976D2;
}

.alert .icon {
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
}







